.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 60px;
}

.calc-wrapper {
  width: 200px;
  height: 100px;
}

.row {
  display: flex;
  width: 100%;
}
